<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <h1>Meu Celeiro</h1>
        <nav class="navbar bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/setorDaDispensa}">Minha Dispensa</a>
            </div>
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/membroDaFamilia}">Familia</a>
            </div>
        </nav>
        <div class="container">
            <table class="table" id="produto">
                <thead>
                    <tr>
                        <th>Lista de Compras</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umProduto : ${listaProdutos}">
                        <td th:text="${umProduto.produtoNome}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:include="layout :: footer">(footer)</div>
        
    </body>
</html>