<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/setorDaDispensa}">Minha Dispensa</a>
            </div>
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/membroDaFamilia}">Familia</a>
            </div>
        </nav>

        <div th:include="layout :: footer">(footer)</div>
        
    </body>
</html>